docs/*.html -linguist-documentation
docs/html5/*/*.html -linguist-documentation
docs/html5/*/*/*.html -linguist-documentation
docs/html5/*/*/*/*.html -linguist-documentation
docs/html5/*/*/*/*/*.html -linguist-documentation
docs/*.js -linguist-documentation
docs/js/*/*.js -linguist-documentation
docs/js/*/*/*.js -linguist-documentation
docs/js/*/*/*/*.js -linguist-documentation
docs/js/*/*/*/*/*.js -linguist-documentation
docs/css3/*.css -linguist-documentation
docs/css3/*/*.css -linguist-documentation
docs/css3/*/*/*.css -linguist-documentation
docs/css3/*/*/*/*.css -linguist-documentation
docs/css3/*/*/*/*/*.css -linguist-documentation
