# linguist-detectable
docs/*.html linguist-detectable
docs/html5/*/*.html linguist-detectable
docs/html5/*/*/*.html linguist-detectable
docs/html5/*/*/*/*.html linguist-detectable
docs/html5/*/*/*/*/*.html linguist-detectable
docs/*.js linguist-detectable
docs/js/*/*.js linguist-detectable
docs/js/*/*/*.js linguist-detectable
docs/js/*/*/*/*.js linguist-detectable
docs/js/*/*/*/*/*.js linguist-detectable
docs/css3/*.css linguist-detectable
docs/css3/*/*.css linguist-detectable
docs/css3/*/*/*.css linguist-detectable
docs/css3/*/*/*/*.css linguist-detectable
docs/css3/*/*/*/*/*.css linguist-detectable
/.github/*.yml linguist-detectable
/.github/workflows/*.yml linguist-detectable
/*.md linguist-detectable

# -liguist-documentatiom
docs/*.html -linguist-documentation
docs/html5/*/*.html -linguist-documentation
docs/html5/*/*/*.html -linguist-documentation
docs/html5/*/*/*/*.html -linguist-documentation
docs/html5/*/*/*/*/*.html -linguist-documentation
docs/*.js -linguist-documentation
docs/js/*/*.js -linguist-documentation
docs/js/*/*/*.js -linguist-documentation
docs/js/*/*/*/*.js -linguist-documentation
docs/js/*/*/*/*/*.js -linguist-documentation
docs/css3/*.css -linguist-documentation
docs/css3/*/*.css -linguist-documentation
docs/css3/*/*/*.css -linguist-documentation
docs/css3/*/*/*/*.css -linguist-documentation
docs/css3/*/*/*/*/*.css -linguist-documentation
/.github/*.yml -linguist-documentation
/.github/workflows/*.yml -linguist-documentation
/*.md -linguist-documentation
