/* Created by Lukas-Batema (Lukas Batema) && Redone by mtgsquad (Mahir Molai) */
/* general styling (start) */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.2s ease;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

*::-webkit-scrollbar-thumb {
  background: grey;
}

body {
  background-color: rgb(80, 77, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* general styling (end) */

.topnav {
  height: 100px;
  background: #141517;
  width: 100vw;
  box-shadow: 0px 5px 3px #141517;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}


.links {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.logo {
  margin-left: 25px;
  margin-top: 7.5px;
}

.logo > a > img {
  height: 100px;
}

/* header begins */
header > h1 {
  font-size: 72px;
  margin: 25px;
}