/*
  Created by BatemaDevelopment
*/

/*
  general styling (start)
*/
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
/*
  general styling (end)
*/

/*
  header styling (start)
*/
header {
  margin: 0;
  width: calc(100% - 4em);
  background-color: #313030;
}

header h1 {
  width: max-content;
  font-size: 48px;
  float: left;
}

/*
  nav styling (start)
*/
header nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  background-color: #313030;
}

header nav a {
  margin: 0;
  float: right;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 481px) {
  header {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
  }

  header nav a {
    padding: 2em;
  }
}

@media only screen and (max-width: 480px) {
  header {
    width: calc(100% - 2em);
    padding: 1em;
  }

  header nav a {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0.5em;
  }
}

header nav a:not(:hover) {
  transition: 500ms ease-out;
}

header nav a:hover {
  color: #c1c7ca;
  transition: all 500ms ease-in;
}
/*
  nav styling (end)
*/

header img {
  display: flex;
  align-self: center;
  width: 5rem;
  margin-right: 0.5em;
  border-radius: 50%;
}
/*
  header styling (end)
*/

/*
  main styling (start)
*/
main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.5em 2em;
  background-color: #1e1e1e;
}

main h2,
h3,
h4,
h5,
h6 {
  color: #6e7071;
}

main p {
  color: #bdc0c2;
}
/*
  main styling (end)
*/

/*
  footer styling (start)
*/
footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 2em;
  background-color: #313030;
}
/*
  footer styling (end)
*/
